.main-body {
  padding: 10px;
  font-family: Arial;
}

.editor {
  
}

.menu-bar {
  float: right;
}

a {
  padding: 5px;
  color: #ABC;
}

a:hover {
  color: #567;
  background-color: #DDD;
  border-radius: 20px;
}

#css-editor, .CodeMirror {
  width: 400px;
  height: 250px;
}

